*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Poppins,sans-serif;
background:#f5f5f5;
color:#111;

}

img{

max-width:100%;
display:block;

}

header{

background:#08111f;
color:white;

}

.navbar{

max-width:1200px;
margin:auto;

display:flex;
justify-content:space-between;
align-items:center;

padding:20px;

}

.logo img{
width: -100px;
height:150px;

}

.navbar ul{

display:flex;
gap:30px;
list-style:none;

}

.navbar a{

color:white;
text-decoration:none;

}

.hero{

max-width:1200px;
margin:auto;

display:grid;

grid-template-columns:1fr 1fr;

align-items:center;

padding:60px 20px;

}

.hero h1{

font-size:4rem;
font-weight:800;
line-height:1.1;

}

.hero p{

margin:20px 0;
max-width:420px;

}

button{

background:#09172d;
color:white;

border:none;

padding:14px 30px;

border-radius:6px;

cursor:pointer;

}

.hero-image{

display:flex;
justify-content:center;

}

.brands{


margin:40px 0;

display:flex;

justify-content: space-around;
align-items: center;
gap:20px;

}

.brand-card{

background:white;
flex-direction: column;
text-align:center;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.top{

max-width:1200px;

margin:auto;

padding:40px 20px;

}

.top h2{

text-align:center;

font-size:2.3rem;

margin-bottom:30px;

}

.tabs{

display:flex;

justify-content:center;

gap:20px;

margin-bottom:30px;

}

.tabs span{

cursor:pointer;

}

.active{

color:#003cff;

font-weight:600;

}

.featured{

margin-bottom:20px;
position: relative;
width:100%;
}
.bg{
    width: 100%;
    display: block;
}
.car{
    position: absolute;
    right: 40px;
    bottom: 20px;
    width:550px;
}
.featured-txt{
    position: absolute;
    top: 80px;
    left: 60px;
    color: white;
}
.featured-txt h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #f5f5f5;
}
.btn{
    display: inline-block;
    padding: 12px 30px;
    border: 2px solid white;
    color: #f5f5f5;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}
.btn:hover{
    background: white;
    color:black;
}
.featured-cars{
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.car-pic{
    flex: 1;

}
.car-pic img{
    width: 100%;
    display: block;
    border-radius: 12px;
}



.services{

max-width:1200px;

margin:auto;

padding:70px 20px;

}

.services h2{

text-align:center;

margin-bottom:40px;

}

.service-grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:20px;

}

.left,
.right{

display:grid;
gap:20px;

}

.dark{

background:#08111f;

color:white;

padding:35px;

border-radius:10px;

}

footer{

background:#08111f;

color:white;

margin-top:80px;

padding:30px;

display:flex;

justify-content:space-between;

align-items:center;

flex-wrap:wrap;

}

footer ul{

display:flex;
gap:20px;
list-style:none;

}

@media(max-width:900px){

.hero{

grid-template-columns:1fr;

text-align:center;

}

.brands{

grid-template-columns:repeat(2,1fr);

}

.cars{

grid-template-columns:repeat(2,1fr);

}

.service-grid{

grid-template-columns:1fr;

}

footer{

flex-direction:column;

gap:20px;

}

}

@media(max-width:600px){

.hero h1{

font-size:2.5rem;

}

.brands{

grid-template-columns:1fr;

}

.cars{

grid-template-columns:1fr;

}

.tabs{

flex-wrap:wrap;

}

}